.myskill-remskill {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    box-shadow: 2px 2px 4px 0px gray;
}

.myskill button {
    background-color: navy;
    color: white;
    border-radius: 100px;
}

.myskill-remskill {
    flex:0 0 25%;
}

.myskill-currskill {
   

    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    box-shadow: 2px 2px 4px 0px gray;
    margin-bottom: 15px;
}


